.listAttr {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #d34615;
    position: fixed;
    top: 0;
    width: 100%;
}

.cellAttr {
    float: left;
}

.cellAttr a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.cellAttr a:hover {
    background-color: #00bfff;
}

.tail {
    text-align: center;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
    padding: 10px;
    margin: 50px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.title{
    margin-top: 75px;
}

body{
    font-family: sofia;
}